* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    outline: none;
    border: 1px solid black;
}

html,
body {
    height: 100%;
    width: 100%;
}

.tab-page {
    display: none;
}
.clicked-page {
    display: block;
}

.tab-button {
    height: 50px;
    width: 100px;
}
#tab1 .page-container {
    width: 300px;
}
#tab1 .button-container {
    width: 300px;
}
#tab1 .tab-page {
    height: 300px;
}
#tab1 .tab-page:nth-child(1) {
    background-color: red;
}
#tab1 .tab-page:nth-child(2) {
    background-color: yellow;
}
#tab1 .tab-page:nth-child(3) {
    background-color: blue;
}

#tab2 {
    width: 400px;
    margin-top: 10px;
}
#tab2 .button-container {
    width: 100px;
    float: left;
}
#tab2 .page-container {
    width: 300px;
    float: left;
}
#tab2 .tab-page {
    height: 250px;
}
#tab2 .tab-page:nth-child(1) {
    background-color: red;
}
#tab2 .tab-page:nth-child(2) {
    background-color: yellow;
}
#tab2 .tab-page:nth-child(3) {
    background-color: blue;
}
#tab2 .tab-page:nth-child(4) {
    background-color:purple;
}
#tab2 .tab-page:nth-child(5) {
    background-color:pink;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


#tab1 .clicked-button {
    background-color: blueviolet;
}

#tab2 .clicked-button {
    background-color: brown;
}
